<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo.TodoMapper">
  <select id="search" parameterType="map" resultType="com.example.todo.Todo">
    SELECT
      id,
      author,
      title,
      description,
      due_date,
      priority,
      completed,
      created_at,
      updated_at,
      version
    FROM todos
    <where>
      <if test="keyword != null and keyword != ''">
        AND title LIKE CONCAT('%', #{keyword}, '%')
      </if>
      <if test="categoryId != null">
        AND category_id = #{categoryId}
      </if>
    </where>
    <choose>
      <when test="sort == 'createdAt'">ORDER BY created_at</when>
      <when test="sort == 'title'">ORDER BY title</when>
      <when test="sort == 'dueDate'">ORDER BY due_date</when>
      <when test="sort == 'completed'">ORDER BY completed</when>
      <otherwise>ORDER BY created_at</otherwise>
    </choose>
    <choose>
      <when test="direction == 'asc'">ASC</when>
      <otherwise>DESC</otherwise>
    </choose>
    LIMIT #{limit} OFFSET #{offset}
  </select>

  <select id="count" parameterType="map" resultType="long">
    SELECT COUNT(*)
    FROM todos
    <where>
      <if test="keyword != null and keyword != ''">
        AND title LIKE CONCAT('%', #{keyword}, '%')
      </if>
      <if test="categoryId != null">
        AND category_id = #{categoryId}
      </if>
    </where>
  </select>

  <delete id="deleteByIds" parameterType="map">
    DELETE FROM todos
    WHERE id IN
    <foreach collection="ids" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
</mapper>
